.splash {
    padding-top: 87px;
    padding-bottom: 50px;
    background: #0f0c29;
}

.container {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    margin-left: 71px;
    margin-top: 25px;
    padding-right: 16px;
    border-radius: 5px;
}

.text {
    color: darkcyan;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-check-label {
    color: white;
}

.reserva-turnos {
    border: 1px solid #09f;
    display: grid;
    place-content: center;
    border-radius: 5px;
    padding: 10px 0;
}

.reserva-turnos:hover {
    box-shadow: 4px 5px 14px 7px rgba(244, 239, 239, 0.71);
    -webkit-box-shadow: 4px 5px 14px 7px rgba(244, 239, 239, 0.71);
    -moz-box-shadow: 4px 5px 14px 7px rgba(244, 239, 239, 0.71);
    border: none;
}


.btn-primary {
    margin-top: 25px;
    width: 166px;
}