.cont {
  background: #808983;
  height: auto;
  padding-bottom: 20px;
}
.card {
  height: auto;
  display: flex;
  border-radius: 10px;
  margin-bottom: 30px;
}
.pic {
  height: auto;
  padding-right: 0%;
  margin-right: 0%;
  overflow: hidden;
  width: 100%;
}
.card:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.linea {
  color: white;
}




.pic img {
  max-height: inherit;
  padding: 0%;
  margin: 0%;
  border-radius: 5px;
}

.prop-datos p {
  background-color: #f0f0f0;
  display: inline-block;
}
.prop-descripcion p {
  font-size: small;
}
.prop-adrress {
  font-weight: lighter;
}
.prop-dir p {
  margin-bottom: 0px;
  font-size: x-small;
  font-weight: bold;
}
