.container-Filosofia {
  background-color: #4a148c;
  height: 310px;
}
.container-Filosofia h1{
  text-align: center;
}


h4 {
  text-align: center;
}
.col-md-4 {
  float: left;

  text-align: left;
  box-sizing: border-box;
}
.lista ul li {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .container-Filosofia {
    height: 650px;
  }
}
