.containerPage {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 0;
  display: grid;
  justify-items: center;
  gap: 20px;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  width: 100vw;
  height: 100%;
}

.formActividad {
    background-color: #777777 !important;
    width: 70%;
    border-radius: 10px;
    padding: 15px;
}