.container-header {
  background-color: #353535;
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
  margin-left: 0px;
}

.container-header1 {
  background-color: #353535;
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
  margin-left: 0px;
}

.iconoMenu {
  display: none;
}

.toggle-btn {
  display: block;
}

.offcanvas.offcanvas-end.show {
  width: 100%;
  background: transparent;
  backdrop-filter: blur(15px);
  color: white;
  font-size: x-large;
  text-align: center;
}

.justify-content-end {
  float: right;
}

.imgIcon {
  margin-left: 15px;
  width: 70px;
  display: flex;
  position: absolute;
}

.titleh {
  color: white;
  padding-top: 25px;
  padding-left: 95px;
  text-decoration: none;
  display: inline-block;
}

.ul {
  float: right;
  padding: 20px;
}

.li {
  display: inline-block;
}

.li a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.container-header ul li Link:hover {
  color: blueviolet;
}

.action-btn {
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: blueviolet;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action-btn:hover,
.action-btn:focus {
  color: white;
  font-size: 0.9rem;
}

@media screen and (max-width: 762px) {
  .container-header {
    height: 70px;
    position: absolute;
    padding-right: 18px;

    transition: 0.5s;
  }

  .container-header1 {
    height: 350px;
    position: absolute;
    padding-right: 18px;
    transition: 0.5s;
  }

  .ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    padding-left: 0px;
  }

  .li {
    display: none;
    justify-content: center;
    padding-right: 20px;
  }

  .li1 {
    display: flex;
    flex-direction: column;
    margin-right: 90px;
  }

  .li1 .li {
    display: inline;
    justify-content: center;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .iconoMenu {
    display: inline;
    width: 40px;
    display: flex;
  }

  .action-btn {
    position: absolute;
    margin-left: 3px;
  }
}

.icono-carrito {
  width: 40px;
  margin-right: 10px;
}