.container-header {
  background-color: #353535;
  height: 64px;
  position: fixed;
  top: 0px;
  width: 100%;
  color: white;
  z-index: 1;
  opacity: 0.9;
}

.offcanvas.offcanvas-end.show {
  width: 100%;
  background: transparent;
  backdrop-filter: blur(15px);
  color: white;
  font-size: x-large;
  text-align: center;
}
.justify-content-end {
  float: right;
}
.container-fluid a img {
  width: 50px;
  padding: 0%;
  display: flex;
}
.container-fluid a {
  padding: 0%;
  margin: 0%;
}

.navbar-toggler {
  width: 60px;
  float: right;
}
.offcanvas-title {
  padding-left: 46%;
  
}
.offcanvas-body


{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-toggler:hover {
  color: white;
}
.icono {
  display: flex;
}
.icono h6 {
  color: white;
  padding-top: 11px;
  padding-left: 15px;
}

.navbar-toggler-icon {
  color: white;
}
