body {
  background-size: cover;
  min-height: 100%;
  display: flex;
  /* background-image: url("../statics/img1.jpg"); */
}
.titulo{
  margin-top: -68px;
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}


.bienvenida h1 {
  background: transparent;
  background-color: rgb(139, 248, 212);
  color: black;
  opacity: 0.9;
  position: absolute;
  margin-top: -400px;
  margin-left: 50px;
  font-size: bold;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: xx-large;
}

.btnModal{
  position: absolute;
  background: black;
  border-color: black;
  border-style: solid;
  color: white;
  margin-top: -335px;
  margin-left: 80px;
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 3px;
}
.modal-content{
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
.modal-content h1{
  color: white;
}
.modal-body{
  color: white;
}
.modal-header .btn-close{
  background-color: red;
}

.btnModal:hover,
.btnModal:focus {
  font-size: 1.1rem;
  border: solid;
  color: white;
}

.linkReg button{
  margin: unset;
}

@media screen and (max-width: 762px) {
  .bienvenida h1 {
    width: 257px;
  }
  .btnModal {
    margin-top: -310px;
  }
}
