body{
    
    background-size: cover;
    min-height: 100%;
    display: flex;
    /* background-image: url("../statics/img1.jpg"); */
}
.proptit{
    text-align: center;
    font-weight:bolder;
    height: 500px;
}

