.container-nos{
    background: #747570;
    padding: 10px;
    height: 100px;
    text-align: left;
}
.container-nos h4{
    display: flex;
    text-align: center;
    margin-top: 1%;
    padding-bottom: 0%;
}