.containerProduct {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 76px;
  padding-bottom: 32px;
  box-sizing: border-box;
  height: auto;
}

.title::after {
  content: "TiendaOnline.";
  /* color: #a875ab; */
  position: absolute;
  right: 220px;
  margin-top: 40px;
  font-size: 53px;
  /* make our h1 tag larger */
  font-family: sans-serif;
  /* choosing our font */
  background: linear-gradient(to right,
      rgba(255, 215, 255, 0) 0%,
      #2bf2d0 20%,
      rgba(255, 255, 255, 0) 61%),
    linear-gradient(rgb(168, 117, 171) 52%,
      rgb(224, 246, 255) 60%,
      rgb(156, 83, 160) 61%);
  /* you can change the colors based on your preference */
  background-clip: text;
  /*it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text;
  /*for browsers compatibility */
  -webkit-text-fill-color: transparent;
  /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
  animation: wave 2000ms ease alternate infinite;
  transition: all 0.4s ease;
}

.btn-add-product {
  display: grid;
  place-items: center;
  padding: 10px 0;
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50vw 10px;
  }
}

.containerCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 16px;
  width: 94%;
  margin: 0 auto;
}

.containerFiltros {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 16px;
  margin-right: 22px;
}

@media screen and (max-width: 700px) {
  .containerCard {
    flex-direction: column;
  }
}


.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
  color: white;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
.item{
  padding: 30px;
  position: fixed;
  padding-top: 5px;
  
  right: 10px;
}
.item img{
  width: 64px;
}