.section-reg{
    /*background: #0f0c29;  /* fallback for old browsers 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url(https://as1.ftcdn.net/v2/jpg/02/10/17/94/1000_F_210179424_mTLrEUOv1bbiYHW7kGjq2xRmr73rfcGI.jpg);
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .form-box-reg{
    position: relative;
  height: 700px;
  margin-top: 100px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .registro h2{
    font-size: 2em;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  }
  .registro{
   
    margin-top: -25px;
   
  }
  .registro span{
    
    background-color: black;
    opacity: 0.8;
    color: #adb5bd;
    padding-left: 10px;
    padding-right: 10px;
    
    padding-bottom: 5px;
  }
  
  #form{
    max-width: 320px;
    width: 100vw;
    margin: 2em auto;
  }
  
  #form >  input, .btn{
    border: 1px solid #e9ecef;
    padding: .9em 1em;
  }
  
  #form > input:focus{
    outline: none;
  }
  
  #form > .btn{
    background-color: #003049;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;
  }
  
  .flex{
    display: flex;
    gap: 1em;
  }
  
  .flex-col{
    flex-direction: column;
  }

.labelr{
  display:inline-block;
  padding-right: 20px;
  color: white;
}

  
 